{% extends "base.html" %}

{% block title %}
Add Games
{% endblock %}

{% block content %}
<h1>Add Board Games</h1>
<form action="{{url_for('add')}}" method="POST">
    {{  form.board_game.label  }}:<br>
    {{  form.board_game}}
    <br><br>
    {{ form.csrf_token}} <!-- Built-in from the FlaskForm class that prevents Cross-Site Request Forgery -->
    {{ form.submit  }}
    <br><br>
</form>

{% if games is defined %}
    <h3>Games found:</h3>
    {% for result in games %}
        {{ result }}
        <br>
    {% endfor %}
{% endif %}

{% if form.board_game.errors %}
    <p id="error">
        {% for error in form.board_game.errors %}
            {{ error }}
            <br>
        {% endfor %}
    </p>
{% endif %}

{% endblock %}