{% extends "base.html" %}

{% block title %}
Add
{% endblock %}

{% block content %}
<h1>Add Board Games</h1>
<h2>To add a game, search it up and then click on it. Once you have finished adding games, click <a href="{{url_for('rate')}}">here</a>.</h2>
<form action="{{url_for('add')}}" method="POST">
    {{  form.board_game.label  }}:<br>
    {{  form.board_game}}
    <br><br>
    {{ form.csrf_token}} <!-- Built-in from the FlaskForm class that prevents Cross-Site Request Forgery -->
    {{ form.submit  }}
    <br>
</form>

{% if games is defined %}
    <h3>Games found:</h3>
    {% for result in games %}
        <form action="{{url_for('add')}}" method="POST">
            <input type="hidden" name="result" value="{{ result }}">
            <button type="submit">{{ result }}</button>
        </form>
        <br>
    {% endfor %}
{% endif %}

{% if form.board_game.errors %}
    <p id="error">
        {% for error in form.board_game.errors %}
            {{ error }}
            <br>
        {% endfor %}
    </p>
{% endif %}

{% endblock %}