{% extends "base.html" %}

{% block title %}
Lookup
{% endblock %}

{% block content %}
<h1>Lookup</h1>
<form action="{{url_for('lookup')}}" method="POST">
    {{  form.board_game.label  }}:<br>
    {{  form.board_game}}
    {% if form.board_game.errors %}
    <br>
        <ul>
            {% for error in form.board_game.errors %}
            <li id="error">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br><br>
    {{ form.csrf_token}} <!-- Built-in from the FlaskForm class that prevents Cross-Site Request Forgery -->
    {{ form.submit  }}
    <br><br>
</form>
{% if message %}
    {{ message }}
{% endif %}
{% endblock %}